.code-samples {
	width       : 100%;
	padding-top : 1rem;

	&__inner {
		max-width       : $page-max-width;
		margin          : auto;
		display         : flex;
		flex-wrap       : wrap;
		justify-content : center;

	}

	.axe-markdown {
		font-size      : 0.75rem;
		width          : 50%;
		padding-bottom : 0;

		&:nth-of-type(1) {
			@include pop-in(0.5s);

			.line-numbers-rows {
				@include fade-in(0.6s, 0.7s);
			}
		}

		&:nth-of-type(2) {
			@include pop-in(0.3s);

			.line-numbers-rows {
				@include fade-in(0.6s, 0.7s);
			}
		}

		&:nth-of-type(3) {
			@include pop-in(0.7s);

			.line-numbers-rows {
				@include fade-in(0.6s, 0.7s);
			}
		}

		&:nth-of-type(4) {
			@include pop-in(0.4s);

			.line-numbers-rows {
				@include fade-in(0.6s, 0.7s);
			}
		}

		@media screen and (max-width : 768px) {
			width : 100%;
		}

		> h3 {
			font-family : $lato-font;
			font-size   : 1.25rem;
			font-weight : 900;
			margin     : {
				top    : 0;
				bottom : 0.3125rem;
			}
		}

		&__render-source {
			letter-spacing : -0.03125rem;
			word-spacing   : 0;

			@media screen and (max-width : 425px) {
				margin : 0 -1rem;
			}
		}
	}

}