[submodule "modules/Website/modules/TableOfContents/views/_table-of-contents-package"]
	path = modules/Website/modules/TableOfContents/views/_table-of-contents-package
	url = https://github.com/sammysaglam/table-of-contents
	ignore = dirty
[submodule "modules/Website/modules/EditableContent/views/_editable-content-package"]
	path = modules/Website/modules/EditableContent/views/_editable-content-package
	url = https://github.com/sammysaglam/editable-content
	ignore = dirty
[submodule "modules/Website/modules/DesignPackage/views/_design-package"]
	path = modules/Website/modules/DesignPackage/views/_design-package
	url = https://github.com/sammysaglam/design-package
	ignore = dirty
[submodule "modules/Auth/views/_react-login-panel-package"]
	path = modules/Auth/views/_react-login-panel-package
	url = https://github.com/sammysaglam/react-login-panel
	ignore = dirty
[submodule "modules/Website/modules/Comment/views/_axe-comments-package"]
	path = modules/Website/modules/Comment/views/_axe-comments-package
	url = https://github.com/sammysaglam/axe-comments
	ignore = dirty
[submodule "modules/Website/modules/Documentation/modules/MarkdownLoader"]
	path = modules/Website/modules/Documentation/modules/MarkdownLoader
	url = https://github.com/sammysaglam/axe-markdown-loader
	ignore = dirty
