.hero {
	background      : $color-primary;
	height          : 40vh;
	max-height      : 20rem;
	min-height      : 12rem;
	width           : 100%;
	display         : flex;
	align-items     : center;
	justify-content : center;
	font-weight     : 700;
	color           : $color-white;
	text-align      : center;

	&__text-wrapper {
		position  : relative;
		width     : 100%;
		padding   : 0 1rem;
		max-width : 40rem;
		font-size : 2.5rem;
	}

	&__buttons-wrapper {
		margin-top      : 1rem;
		width           : 100%;
		height          : 4rem;
		display         : flex;
		align-items     : center;
		justify-content : center;
	}

	&__button {
		&:not(:last-of-type) {
			margin-right : 1rem;
		}
	}

	&__logo {
		position       : absolute;
		top            : 0;
		left           : 10%;
		pointer-events : none;

		svg {
			width   : 40rem;
			height  : 40rem;
			opacity : 0.1;
		}
	}
}