.documentation-page {

	&__inner {
		margin    : auto;
		max-width : $page-max-width;
		display   : flex;
	}

	&__markdown-wrapper {
		flex-grow : 1;
		max-width : 70%;

		@media screen and (max-width : 767px) {
			max-width : 100%;
		}
	}

	&__show-table-of-contents-button {
		position            : fixed;
		right               : 0;
		font-size           : 3rem;
		padding-right       : 0.75rem;
		transform           : scale(1.3125, 1);
		font-weight         : bold;
		font-family         : Helvetica Neue, Helvetica, Arial, sans-serif;
		user-select         : none;
		-webkit-user-select : none;
	}

	&__hide-table-of-contents-button {
		position            : fixed;
		right               : -10000;
		padding-right       : 0.75rem;
		z-index             : 1;
		font-size           : 2rem;
		font-weight         : bold;
		font-family         : Helvetica Neue, Helvetica, Arial, sans-serif;
		color               : white;
		opacity             : 0;
		transition          : opacity 0.2s 0.05s;
		user-select         : none;
		-webkit-user-select : none;
	}

	&__table-of-contents-wrapper {
		max-width : 30%;
		flex-grow : 1;

		@media screen and (max-width : 767px) {
			position : fixed;
		}

		&--mobile-visible {

			.documentation-page__hide-table-of-contents-button {
				opacity : 1;
				right   : 0;
			}
		}
	}

	&__table-of-contents {
		color        : $color-white;
		height       : 100vh;
		background   : $color-primary;
		position     : fixed;
		margin-right : -100000px;
		box-shadow   : inset -1px -3px 15px rgba(0, 0, 0, 0.25);
		padding   : {
			left  : 2rem;
			right : 100000px;
		}
		-webkit-overflow-scrolling: touch;

		@media screen and (max-width : 767px) {
			padding-right : 0;
			margin-right  : 0;
			right         : 0;
			transform     : translateX(100%);
			transition    : transform 0.4s cubic-bezier(.86, .28, 0, 1.17);

			&--mobile-visible {
				transform: translateX(2%);
			}
		}

		&-inner {
			height         : calc(100vh - 2.5rem);
			overflow-y     : scroll;
			padding-right  : 2rem;
			padding-bottom : 3rem;
			min-width      : 11.5rem;

			// scroll bar
			&::-webkit-scrollbar {
				width : 10px;
			}
			&::-webkit-scrollbar-track {
				background : #F1F1F1;
			}
			&::-webkit-scrollbar-thumb {
				background : $color-tertiary;
			}
			&::-webkit-scrollbar-thumb:hover {
				background : #555555;
			}
		}
	}

	&__contents-list {
		font-weight  : 700;
		list-style   : none;
		font-size    : 1rem;
		word-spacing : 0.125rem;
	}

	&__list-item {
		margin-top   : 0.25rem;
		padding-left : 0.125rem;

		.link {
			color : $color-white;

			&:hover {
				color : lighten($color-secondary, 40%);
			}

			&.active {
				color : $color-tertiary;
			}
		}
	}

	&__content-list-title {
		margin-top : 2.5rem;
	}

	.axe-markdown {
		padding-right : 3rem;

		@media screen and (max-width : 767px) {
			padding-right : 1rem;

			> h1 {
				margin-top: 1rem;
			}
		}

		transform-origin: 0 500px;
		@include pop-in-and-fade-in(0.3s);
		.line-numbers-rows {
			@include fade-in(0.6s, 0.3s);
		}

		> blockquote {
			margin : 0.5rem 0;
		}

		> p > code {
			font-size  : 1rem;
			background : #EEEEEE;
			color      : $color-primary;
			padding    : 0.125rem 0.25rem;
		}

		> h4 > code {
			font-size   : 1.25rem;
			background  : $color-tertiary;
			color       : $color-primary;
			padding     : 0.125rem 0.25rem;
			font-weight : normal;
		}

		&__render-source {
			font-size : 0.875rem;
		}
	}
}